

@media only screen and (max-width: 1400px) and (max-height: 768px) {
    h1 {
        font-size: 320%;
    }
    #s-logo {
        height: 500px;
        width: 500px;
        margin-bottom: 50px;
    }
    .text-box p {
        margin: 30px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 52px;
    }

    .box1 {
        width: 70%;
        border: 2px solid #fff;
        height: 320px;
        margin: 200px auto;
        color: #fff;
        text-align: center;
        padding: 35px;
    }

    .box1 .h2text {
        margin: 20px 0 25px 0;
    }
button.material {
    border: 1px solid #fff;
    width: 40%;
    height: 55px;
    font-size: 17px;
    padding: 5px;
    margin: 30px auto;
}
.wrapper {
    margin-top: 240px;
    padding-top: 20px;  
    height: 0px;
}
.box {
    left: 50%;
}
}